﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ImportProducts", "Backend", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>
                <input type="file" name="file" />
            </td>
            <td>
                <input type="submit" value="Upload File" />
            </td>
        </tr>
    </table>
    <br/><br/>
    @ViewBag.Message
}