﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <h1>Cymax - Data cleansing backend</h1>
    <p class="lead">Provides support for the Android mobile application</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            - Import xlsx of Attributes and Products into the database<br />
            - Control client requests through web-service<br />
            - Display products tags that were reviewed on the android app<br />
        </p>
    </div>
</div>