﻿@Model
@{
    ViewBag.Title = "Products reviewed tags";
    ViewBag.Message = "Show tags added to products using the Cymax - Data Cleansing app";
    List<Cymax_DCBackend.Models.ProductReviewData> items = ViewBag.ProductReviews;
    @section scripts {
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script>
            $(function () {
                $("#from").datepicker({
                    defaultDate: "+1w",
                    dateFormat: "yy-mm-dd",
                    changeMonth: true,
                    numberOfMonths: 3,
                    onClose: function (selectedDate) {
                        $("#to").datepicker("option", "minDate", selectedDate);
                    }
                });
                $("#to").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 3,
                    dateFormat: "yy-mm-dd",
                    onClose: function (selectedDate) {
                        $("#from").datepicker("option", "maxDate", selectedDate);
                    }
                });
            });
        </script>
    }

}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<section id="sectionIndexes">
    <article>
        @model Cymax_DCBackend.Models.ProductsReviewModels
        @using (Html.BeginForm("Search", "Backend", FormMethod.Post))
        {
            <!--
                <label for="productID">Product ID</label>
                <input type="text" id="productID" />
            -->
            <label for="from">From</label>
            <input type="text" id="from" name="from" value="@ViewBag.DateFrom">
            <label for="to">to</label>
            <input type="text" id="to" name="to" value="@ViewBag.DateTo">
            <input type="submit" value="Search"/>
        }

        <table style="width:100%;">
            <tr>
                <th>Product Id</th>
                <th>Attribute Group</th>
                <th>Attribute</th>
                <th>Total Added</th>
                <th>Total Removed</th>
            </tr>
            @foreach (var groupItem in ViewBag.GroupedProducts)
            {
                <tr>
                    <td>@groupItem.ProductId</td>
                    <td>@groupItem.Name</td>
                </tr>
                foreach (string attributeGroup in items.Where(x => x.ProductId == groupItem.ProductId).GroupBy(p => p.AttributeGroup).Select(y => y.Key).ToList<string>())
                {
                    <tr>
                        <td></td>
                        <td>@attributeGroup</td>
                    </tr>
                    foreach (Cymax_DCBackend.Models.ProductReviewData item in ((List<Cymax_DCBackend.Models.ProductReviewData>)ViewBag.ProductReviews).Where(p => p.ProductId == groupItem.ProductId && p.AttributeGroup == attributeGroup))
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td>@item.Attribute</td>
                            <td>@item.Added</td>
                            <td>@item.Removed</td>
                        </tr>
                    }
                }
            }
        </table>
        <footer style="float:right;"></footer>
    </article>
</section>
