﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/ico.jpg" style="height:50px; float:left; margin-right: 10px;" />
                @Html.ActionLink("Cymax - Data Cleansing", "Index", "Backend", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Backend")</li>
                    <li>@Html.ActionLink("Import Products", "ImportProducts", "Backend")</li>
                    <li>@Html.ActionLink("Import Attributes", "ImportAttributes", "Backend")</li>
                    <li>@Html.ActionLink("Product Reviews", "ProductsReview", "Backend")</li>
                    <!--
                        <li>@Html.ActionLink("Products", "Products", "Backend")</li>
                        <li>@Html.ActionLink("Attributes", "Attributes", "Backend")</li>
                    -->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center">&copy; @DateTime.Now.Year Cymax Stores USA LLC. All Rights Reserved</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
