﻿@if (Session["AuthState"] != "Authenticated")
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Login", "User")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Logout", "Logout", "User")</li>
    </ul>
}
